<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="/" class="navbar-brand">
        Projeto Blog Leandro Machado
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">Artigos</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link btn btn-secondary" href="/logout">Sair</a>
        </li>
    </ul>
</nav>